#main-header {
    height: 70vh;
    display: flex;
}

#header-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 10px;
}

#header-left a {
    margin-top: 15px;
    width: fit-content;
    align-self: center;
}

#header-right {
    display: flex;
    flex-basis: 1;
    width: 45%;
}

#header-right #header-right-image {
    align-self: flex-end;
    width: 100%;
    height: 50%;
}

#header-right-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#event-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#event-page-image {
    width: 70%;
    height: auto;
    align-self: center;
    margin: 20px 0;
}

#event-page-image img {
    width: 100%;
}

.event-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
    border: 1px solid var(--grey-color);
    /* background-color: var(--grey-color); */
    padding: 10px;
}

.event-list-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.event-list-container a {
    align-self: center;
}

/* FILTER EVENTS PAGE */

#filter-menu {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--grey-color);
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    width: 100%;
}

#more-filters {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filters {
    text-align: right;
}

#more-filters button {
    border: none;
    border-radius: 15px;
    padding: 0.7rem;
    margin-right: 0.5rem;
    background-color: var(--white-color);
    cursor: pointer;
    font-size: 1rem;
}

#more-filters button:focus {
    outline: none;
}

#more-filters button:hover,
#more-filters button:hover i,
.search-bar button:hover i {
    color: var(--primary-color);
}

.filter-options {
    display: flex;
    flex-direction: column;
}

.search-bar {
    width: 100%;
}

.search-bar input {
    border: 1px solid var(--grey-color);
    border-radius: 15px;
    padding: 0.5rem;
    margin-right: 0.5rem;
    outline: none;
    width: 80%;
}

.search-bar input:focus {
    border: 1px solid var(--primary-color);
}

.search-bar button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: inherit;
}

#filter-events-page .show-buttons {
    display: flex;
    flex-direction: column;
    text-align: right;
}

#filter-events-page .hide-buttons {
    display: none;
}

#filter-events-page .info-panel p {
    font-size: 1.2rem;
    margin: 0.5rem;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }
    50% {
        opacity: 0.5;
        transform: translateY(-10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media only screen and (min-width: 700px) {
    #main-header {
        height: 80vh;
        display: flex;
    }

    #header-left {
        display: flex;
        flex-direction: column;
        padding: 30px;
    }

    #header-left a {
        width: fit-content;
        align-self: flex-end;
    }

    #header-right {
        display: flex;
    }

    #header-right #header-right-image {
        align-self: flex-end;
        width: 100%;
        height: 60%;
    }

    #header-right img {
        align-self: flex-end;
    }

    .event-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }

    #filter-menu {
        display: flex;
        flex-direction: row-reverse;
        border-bottom: 1px solid var(--grey-color);
        padding-bottom: 1rem;
        margin-bottom: 3rem;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    #more-filters button {
        /* border: 1px solid var(--grey-color); */
        border: none;
        border-radius: 15px;
        padding: 0.7rem;
        margin-right: 0.5rem;
        background-color: var(--white-color);
        cursor: pointer;
        font-size: 0.9rem;
    }

    #more-filters button:focus {
        outline: none;
    }

    #more-filters button:hover,
    #more-filters button:hover i,
    .search-bar button:hover i {
        color: var(--primary-color);
    }

    .filters {
        text-align: left;
    }

    #more-filters {
        flex-basis: 3;
        width: fit-content;
        display: flex;
    }

    .filter-options {
        display: flex;
        flex-direction: row;
    }

    .search-bar {
        flex-basis: 1;
        margin-bottom: 0;
        width: auto;
        align-self: flex-start;
        padding-top: 1rem;
    }

    .search-bar input {
        border: 1px solid var(--grey-color);
        border-radius: 15px;
        padding: 0.5rem;
        margin-right: 0.5rem;
        outline: none;
        width: fit-content;
    }

    .search-bar input:focus {
        border: 1px solid var(--primary-color);
    }

    .search-bar button {
        border: none;
        outline: none;
        cursor: pointer;
        background-color: inherit;
    }

    #filter-events-page .show-buttons {
        display: flex;
        text-align: left;
    }

    #filter-events-page .hide-buttons {
        display: none;
    }

    #filter-events-page .info-panel p {
        font-size: 1.2rem;
        margin: 0.5rem;
    }
}
